@import url('http://fonts.googleapis.com/css?family=Indie+Flower');
h1 { 
  color: white;
  font-family: 'Indie Flower', arial, serif; 
  font-size:18pt;
}
h2 { 
  color: white;
  font-family: 'Indie Flower', arial, serif; 
  font-size:12pt;
}